/* removal of default stying */
*,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* stying for the body */
body {
  max-width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06px;
  background: #FFFFFF;
  color: #424242;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
main{
  width: 80%;
  margin: 0 auto;
}
/* header section stying */
header{
height: 128px;
width: 100%;
}
header .header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .header-content a{
  text-decoration: none;
  color: #424242;
}
header .header-content .logo a{
font-size: 20px;
}
header .header-content nav {
  display: flex;
  column-gap: 20px;
}
header .header-content nav a{
  font-size: 16px;
}


/* Hero Section styling */
.hero-section{
  text-align: center;
}
.hero-section .hero-section-content h4{
  font-size: 14px;
 font-weight: 300;
  line-height: 2rem;
  color: #5a5a5a;
}
.hero-section .hero-section-content p{
  font-size: 28px;
 font-weight: 800;
 padding: 0 10rem;
  margin: 1rem 0 4rem;
}
.hero-section img{
  width: 100%;
  border-radius: 10px;
  height: 960;
}
/* Team Member Section styling */
.team-member-section{
  margin: 4rem 0 2rem;
  text-align: center;
}
.team-member-section .team-content h2{
  margin-bottom: 2rem;
}
.teams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 6rem;
}
.avatar-wrapper {
  max-width: 186px;
  height: 186px;
}
.avatar-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.teams .details a{
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  color: #424242;
  line-height: 2rem;
}
.teams .details p{
  font-size: 12px;
  font-weight: 300;
}
/* Footer styling */
footer{
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 2rem;
}
/* styling for tablet and mobile view */
